.email-display {
<<<<<<< HEAD
	display: grid;
	background-color: #daebf2;
=======
	/* padding-left: 60px;
	margin: 10px auto; */
	position: relative;
	display: grid;
	height: 80vh;
  background-color: #DAEBF2;
>>>>>>> 562b8bc9f57c30316948aab1b1ea03ab617e595c
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
}

.sender-subject-container {
	display: flex;
	flex-direction: column;
	height: 70px;
	line-height: 1.5;
	margin-bottom: 10px;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.email-body {
	height: 300px;
	max-width: 700px;
	overflow: auto;
}

.in-display-menu {
	background-color: #daebf2;
}
