.email-display {
	display: grid;
	padding: 50px;
	height: 100vh;
	background-color: #daebf2;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	justify-items: center;
}

.email-side-display {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.menu-email-container {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.sender-subject-container {
	display: flex;
	flex-direction: column;
	height: 70px;
	max-width: 600px;
	line-height: 1.5;
	font-weight: 700;
	margin-bottom: 40px;
	margin-left: 40px;
}

.email-body {
	margin-left: 40px;
	height: 250px;
	max-width: 600px;
	overflow: auto;
	line-height: 1.5;
	margin-bottom: 10px;
}

.send-btn,
.trash-email-btn,
.reply-email-btn {
	background: inherit;
	border: none;
}

.send-btn:hover,
.trash-email-btn:hover,
.reply-email-btn:hover {
	opacity: 0.7;
}

.reply-btn-container {
	margin-bottom: 20px;
}

.reply-email-btn {
	margin-left: 40px;
}

.reply-container {
	margin-left: 40px;
}

@media (max-width: 1000px) {
	.email-display {
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr;
		padding: 25px;
		justify-items: left;
	}

	.email-side-display {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.menu-email-container {
		grid-column: 1/ 2;
		grid-row: 2 / 3;
	}

	.reply-container {
		margin-left: 0;
	}

	.reply-email-btn {
		margin-left: 0;
	}

	.email-body {
		margin-left: 0;
		max-width: 80%;
	}

	.sender-subject-container {
		margin-top: 20px;
		margin-left: 0;
		max-width: 80%;
	}
}
