.email-display {
	/* padding-left: 60px;
	margin: 10px auto; */
	position: relative;
	display: grid;
	height: 80vh;
  background-color: #DAEBF2;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
}

.sender-subject-container {
	display: flex;
	flex-direction: column;
	height: 70px;
	line-height: 1.5;
	/* border-bottom: 1px solid black; */
	margin-bottom: 10px;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.email-body {
	height: 300px;
	max-width: 700px;
	overflow: auto;
}

.in-display-menu {
	background-color: white;
}

.reply-container {
  
}
