/* HEADER */

.app-header {
	background-color: #0077b6;
	color: #f0f5f9;
}

h1 {
	font-family: cursive;
}

.main-header {
	padding: 10px 60px;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	display: flex;
}

.logo-container img {
	padding-top: 10px;
	margin-right: 20px;
}

.app-header h1 {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav > * {
	text-decoration: none;
	color: #f0f5f9;
	font-size: 20px;
}

nav > *:hover {
	color: rgba(0, 0, 0, 0.5);
}

nav > *:not(:last-child) {
	margin-inline-end: 12px;
}

.menu-btn {
	display: none;
}

/* FOOTER */

footer {
	background-color: #0077b6;
	color: #f0f5f9;
	height: 10vh;
	padding: 15px;
	text-align: center;
	font-size: 25px;
}

@media (max-width: 740px) {
	.menu-btn {
		display: block;
		background-color: inherit;
		border: none;
		font-size: 25px;
		color: #f0f5f9;
	}

	.main-header nav {
		position: fixed;
		right: 0;
		top: 0;
		flex-direction: column;
		height: 100vh;
		background-color: rgb(255 255 255 / 90%);
		width: 200px;
		transform: translateX(100%);
		box-shadow: none;

		transition: transform 0.8s, box-shadow 0.8s;
	}

	.menu-open .main-header nav {
		transform: translateX(0);
		box-shadow: -4px 0px 15px 0px #dcdcdc;
	}

	.main-screen {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgb(0 0 0 / 30%);
		cursor: pointer;

		transition: opacity 0.8s;
	}

	.menu-open .main-screen {
		opacity: 1;
		visibility: visible;
	}

	.main-header nav > *:not(:last-child) {
		margin-inline-end: 0;
	}

	nav {
		border-bottom: 1px solid #ccc;
	}

	.main-header nav a {
		display: block;
		padding: 12px 10px;
		color: #0077b6;
		text-align: center;

		transition: background-color 0.3s, color 0.3s;
	}

	.main-header nav a:hover {
		background-color: #0077b6;
		color: #fff;
	}
}

@media (max-width: 360px) {
	.main-header {
		padding: 10px 10px;
	}

	footer {
		margin-top: 25px;
	}
}
