.book-add {
	background-color: #daebf2;
	padding-top: 35px;
	padding-bottom: 20px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.192);
	display: flex;
	justify-content: center;
	align-items: center;
}

.book-add label {
	font-size: 20px;
	margin-right: 5px;
}

.book-add input {
	background-color: inherit;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.192);
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 5px;
}

.add-book-btn {
	border: none;
	text-align: center;
	transition: all 0.2s;
	background-color: inherit;
}

.add-book-btn:hover {
	opacity: 0.7;
}

@media (max-width: 360px) {
	.book-add label {
		display: block;
		margin-bottom: 10px;
	}
}
