* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #daebf2;
}

.email-list {
	/* height: 70vh; */
	background-color: #daebf2;
}

/* HELPERS */
.removeLinkStyle {
	text-decoration: none;
	color: black;
}
