.email-side-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
	height: fit-content;
}

.btn-side-menu {
	background-color: inherit;
	width: 150px;
	margin-bottom: 10px;
}

.btn-side-menu > * {
	padding: 10px;
	list-style: none;
}

.progress-bar-container{
	width: 150px;
	height: 20px;
	text-align: center;
	font-weight: 600;
	border: 1px solid black;
}

.progress-bar{
	background-color: rgb(31, 28, 219);
	max-width: 150px;
	color: rgb(214, 205, 205);
}
