h4,
p {
	margin: 0;
	padding: 0;
	height: 30px;
	line-height: 30px;
}

.email-preview {
	display: flex;
	height: auto;
	background-color: #ecf1f7;
	border: 1px solid gray;
	margin-bottom: 1px;
}

.email-preview:hover {
	background-color: aliceblue;
}

.sender-subject-container-preview {
	display: flex;
	min-width: 500px;
}

.sender {
	margin-left: 10px;
	min-width: 150px;
}

.sentAt {
	margin-right: 10px;
	position: absolute;
	right: 30px;
}

.unreadEmail {
	font-weight: 800;
	background-color: #ccdae6;
}
